<%- include("header"); -%>

<h1>About page</h1>

Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum nostrum veniam voluptatum error. Doloribus nobis illo, sed aliquam officia iusto.

<%- include("footer"); -%>